version: "3.9"
services:


 backend:
   build: ./backend
   volumes:
     - ./backend:/app
   ports:
     - "5000:5000"
   environment:
     SPOTIPY_CLIENT_ID: ${SPOTIPY_CLIENT_ID}
     SPOTIPY_CLIENT_SECRET: ${SPOTIPY_CLIENT_SECRET}
     REDIRECT_URL: ${REDIRECT_URL}
     POSTGRES_USER: ${POSTGRES_USER}
     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
     POSTGRES_DB: ${POSTGRES_DB}
     DATABASE_URL: ${DATABASE_URL}
   depends_on:
     - postgres


 postgres:
   build: ./database
   ports:
     - "5432:5432"
   environment:
     POSTGRES_USER: ${POSTGRES_USER}
     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
     POSTGRES_DB: ${POSTGRES_DB}